In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
import os

os.listdir("./datasets")

['student-mat.csv']

In [3]:
data =  pd.read_csv("./datasets/student-mat.csv")

In [4]:
data.shape

(395, 33)

In [5]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
#report = ProfileReport(data)

In [7]:
#report.to_notebook_iframe()

In [8]:
cat_cols = [col for col in data.columns if data[col].dtype == np.object0]

In [9]:
data = pd.get_dummies(data, drop_first=True)

In [10]:
data.shape

(395, 42)

In [11]:
X = data.drop('G3', axis=1)
y = data["G3"]

In [15]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [32]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [33]:
lr_model.score(X_test, y_test)

0.8311571587703894